:root {
  --clr-page-background: hsl(47, 88%, 63%);
  --clr-card-background: hsl(0, 0%, 100%);
  --clr-tag: hsl(0, 0%, 7%);
  --clr-text: hsl(0, 0%, 42%);

  --fs-400: 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--clr-page-background);
  font-family: "Figtree";
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-inline: 2rem;
}

.wrapper__card {
  --pad: 1.1875rem;
  display: flex;
  flex-direction: column;
  padding: var(--pad);
  max-width: 20rem;
}

.card {
  border-radius: 0.9375rem;
  background-color: var(--clr-card-background);
  box-shadow: 0.4rem 0.4rem 0rem black;
  border: 1px solid black;
}

.card__image {
  display: block;
  margin-inline: auto;
  max-width: 17.5rem;
  border-radius: 0.5rem;
}

.card__info {
  margin-block-start: 1.25rem;
}

.card__info .tag {
  background-color: var(--clr-page-background);
  max-width: 4.375rem;
  padding-inline: 0.625rem;
  padding-block: 0.375rem;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--clr-tag);
  line-height: 1;
}

.card__info > p {
  padding-block-start: 0.8125rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

.card__text h1 {
  padding-block-start: 0.875rem;
  padding-block-end: 1rem;
  font-size: 1.25rem;
  color: var(--clr-tag);
}

.interact a {
  text-decoration: none;
  color: inherit;
}

.interact:active,
.interact:hover {
  color: var(--clr-page-background);
}

.card__text p {
  padding-block-end: 1.25rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--clr-text);
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.author img {
  display: block;
  width: 27px;
}

.author p {
  font-size: 0.75rem;
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
